---
import { ViewTransitions } from 'astro:transitions'
import HeadSEO from '../components/HeadSEO.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Analytics from '@vercel/analytics/astro'
import SpeedInsights  from "@vercel/speed-insights/astro"

interface Props {
  title?: string
  description?: string
  ogImage?: URL
  canonicalURL?: URL
}

const { title, description, ogImage, canonicalURL } = Astro.props
---

<html lang="en">
  <head>
    <HeadSEO title={title} description={description} ogImage={ogImage} canonicalURL={canonicalURL} />
    <ViewTransitions />
  </head>
  <body class="min-h-screen bg-background font-bricolage antialiased min-w-sm">
    <div class="flex flex-col items-center justify-center">
      <Header />
      <slot />
      <Analytics />
      <SpeedInsights/>
      <Footer />
    </div>
    <script is:inline data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="vaibhu" data-description="Support me on Buy me a coffee!" data-message="" data-color="hsl(var(--primary))" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
  </body>
</html>
